<tr>
  <td class="text-left"><%= badge.name %></td>
  <td class="text-center"><%= image_tag(badge_image(badge), size: "170x110") %></td>
  <td class="text-left"><%=  Badge::RULES[badge.rule.to_sym]  %></td>
</tr>
