<tr>
  <td class="text-left"><%= badge.name %></td>
  <td class="text-left"><%= image_tag(badge_image(badge), size: "50") %></td>
  <td class="text-center"><%= badge.level %></td>
  <td class="text-left"><%= badge.rule %></td>
</tr>
