<table class="table table-bordered">
  <thead class="thead-light" align="center">
  <th> Name </th>
  <th> File </th>
  <th> Rule </th>
  </thead>

  <tbody>
    <%= render @badges %>
  </tbody>
</table>
