<h4>
  question No: <%= question_index %>
  <p><%= @test_passage.current_question.body.to_s %></p>

  <% if  @test_passage.current_question.answers.count.zero? %>

    <p class="bad" > No answers added to this question yet!  </p>

  <% else %>

    <%= render 'form' %>

  <% end %>

</h4>
