<h2>Pass the <%= @test_passage.test.title %> Test</h2>

<% if @test_passage.test.questions.count.zero? %>

  <p class="bad" >  No questions added to this test yet!  </p>

<% else  %>

  <%= render 'header' %>

<% end %>

<p class="style_gray">
  <%= link_to 'Back to All Tests', tests_path %>
</p>
