   <% if resource.errors.present? %>
      <div>
        <h2>
          <%= t('.header', count: resorce.errors.count) %>:
        </h2>

        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

