<div class="navigation">

  <div class="style_gray"><%= link_to 'Test Guru', root_path %></div>

  <% if user_signed_in? %>

    <p> <%= link_to 'Exit', destroy_user_session_path, method: :delete %> </p>

  <% else %>

    <p>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Signup', new_user_registration_path %>
    </p>

  <% end %>

</div>
