<div class="navigation">

  <div><%= link_to 'Test Guru', root_path %></div>

  <% if logged_in? %>

    <p> <%= link_to 'Exit', logout_path %> </p>

  <% else %>

    <div>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Signup', signup_path %>
    </div>

  <% end %>

</div>
