<table>
  <thead>
    <tr>
      <th class = "celltab30"> id </th>
      <th class = "celltab100"> Answer </th>
    </tr>
  </thead>

  <tbody>
    <%= render @question.answers %>
  </tbody>
</table>
