<h2>Question</h2>

<p>
  <%= @answer.question.body %>
</p>


<p>
  <b>Answer</b>
  <%= @answer.body %>
</p>


<p>
  <b>Correct</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question) %>
