/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.s_e_d{ width:30.0pt;  border-collapse:collapse; text-align:center; }

.celltab10{ width:10.0pt; border:solid black 1.0pt; text-align:center; }
.celltab10center{ width:10.0pt; border:solid black 1.0pt; text-align:center; }
.celltab10right{ width:10.0pt; border:solid black 1.0pt; text-align:right; }
.celltab10left{ width:10.0pt; border:solid black 1.0pt; text-align:left; }

.celltab30{ width:30.0pt; border:solid black 1.0pt; text-align:center; }
.celltab30center{ width:30.0pt; border:solid black 1.0pt; text-align:center; }
.celltab30right{ width:30.0pt; border:solid black 1.0pt; text-align:right; }
.celltab30left{ width:30.0pt; border:solid black 1.0pt; text-align:left; }

.celltab40{ width:40.0pt; border:solid black 1.0pt; text-align:center;}
.celltab40center{ width:40.0pt; border:solid black 1.0pt; text-align:center;}
.celltab40right{ width:40.0pt; border:solid black 1.0pt; text-align:right;}
.celltab40left{ width:40.0pt; border:solid black 1.0pt;  text-align:left; }

.celltab50{ width:50.0pt; border:solid black 1.0pt;text-align:center; }
.celltab50left{ width:50.0pt; border:solid black 1.0pt;  text-align:left; }
.celltab50center{ width:50.0pt; border:solid black 1.0pt; text-align:center; }
.celltab50right{ width:50.0pt; border:solid black 1.0pt; text-align:right; }

.celltab60{ width:60.0pt; border:solid black 1.0pt;text-align:center; }
.celltab60left{ width:60.0pt; border:solid black 1.0pt;  text-align:left; }
.celltab60center{ width:60.0pt; border:solid black 1.0pt; text-align:center; }
.celltab60right{ width:60.0pt; border:solid black 1.0pt; text-align:right; }

.celltab70{ width:70.0pt; border:solid black 1.0pt;text-align:center; }
.celltab70left{ width:70.0pt; border:solid black 1.0pt;  text-align:left; }
.celltab70center{ width:70.0pt; border:solid black 1.0pt; text-align:center; }
.celltab70right{ width:70.0pt; border:solid black 1.0pt; text-align:right; }

.celltab100{ width:100.0pt; border:solid black 1.0pt;  }
.celltab100left{ width:100.0pt; border:solid black 1.0pt;  text-align:left; }
.celltab100center{ width:100.0pt; border:solid black 1.0pt;  text-align:center; }
.celltab100right{ width:100.0pt; border:solid black 1.0pt;  text-align:right; }


.celltab120{ width:120.0pt; border:solid black 1.0pt;  }
.celltab120left{ width:120.0pt; border:solid black 1.0pt;  text-align:left; }
.celltab120center{ width:120.0pt; border:solid black 1.0pt;  text-align:center; }
.celltab120right{ width:120.0pt; border:solid black 1.0pt;  text-align:right; }

.style_blue{font-size: 18px; font-weight: bold; color: blue }
.style_gray{font-size: 15px; font-weight: bold; color: gray }


