<h1><%= t('.header', title: @test.title ) %></h1>
<%= render 'form' %>

<p class="style_gray">
  <%= link_to t('back_to_all_tests') , admin_tests_path %>
</p>
<br>
<%= render 'admin/questions/list', test: @test %>
