<h1> Tricky Tests </h1>
<% if @tests.present? %>
  <table>
    <tr>
      <th class = "celltab100">Title</th>
      <th class = "celltab50">Level</th>
      <th class = "celltab60">Category</th>
      <th class = "celltab100">Author</th>
      <th class = "celltab30">Questions</th>
      <th colspan="4">Actions</th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p>Tests list is empty !</p>
<% end %>
<br>
<p>  <%= link_to 'New test', new_test_path %> </p>
