<html>
  <head> <title>Test Form</title> </head>

  <body>
    <h1> Create New Test </h1>
    <form action="/tests" method="post">

      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <p>
        <label for="test-title">Title:</label>
        <input type="text" name="test[title]" id="test-title">
      </p>
      <p>
        <label for="test-level">Level:</label>
        <input type="text" name="test[level]" id="test-level">
      </p>
      <p>
        <label for="test-category_id">category_id:</label>
        <input type="text" name="test[category_id]" id="test-category_id">
      </p>
      <p>
        <label for="test-author_id">author_id:</label>
        <input type="text" name="test[author_id]" id="test-author_id">
      </p>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
